[
{kafkaOffsetMonit, [
  {kafka_consumer_hosts, [{"sdb-ali-hangzhou-slb-kafka", 9092}]},
  {kafka_consumer_topics, [<<"ejabberd-chat-offlines">>,<<"ejabberd-chat-recvmsgs">>]},
  {kafka_consumer_min_bytes, 0},
  {kafka_consumer_max_bytes, 100000},
  {check_interval, 60000},
  {pid_path, "/data/apps/kafkaOffsetMonit/kafkaOffsetMonit.pid"}
]},
{lager, [
  {log_root, "/data/apps/log/kafkaOffsetMonit"},
  {error_logger_hwm, 50},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "kafkaOffsetMonit.log"}, {level, info}]}
  ]}
]}
].
